*{
  font-family:Arial, Helvetica, sans-serif;
  color: lightgray;
}
html,body{
  height: 100%;
  margin: 0;
} 
body{
  background: #111;
}
.App, #root{
  margin: 0;
  height: 100%;
}
.App ol {
  margin: 0;
  padding-top: 5px;
}

.App ol .completed {
  text-decoration: line-through;
}
.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background: #222;
  box-shadow: 0 0 14px #222;
  padding: 0 2rem;
}